doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body
        .container#new(style="display:none")
            .row
                br
                h3.text-center Create bookmark
                br
                h5 Choose a folder
                select.dir
                h5.text-center or create
                .col-xs-7.col-sm-7.col-md-7.col-lg-7.no-padding
                    input(type='text', placeholder='Name new dir').new_dir_title
                .col-xs-5.col-sm-5.col-md-5.col-lg-5.no-padding
                    input(type='button' value='Add dir').new_dir_btn
                br
                br
                h5 Enter name
                input(type='text', placeholder='Title').title
                br
                h5 Enter url
                input(type='text', placeholder='Url').url
                br
                br
                input(type='button' value='Add').add
                input(type='button' value='Cancel').cancel

        .container#old(style="display:none")
            .row
                br
                h3.text-center Edit bookmark
                br
                h5 Choose a folder
                select.dir
                h5.text-center or create
                .col-xs-7.col-sm-7.col-md-7.col-lg-7.no-padding
                    input(type='text', placeholder='Name new dir').new_dir_title
                .col-xs-5.col-sm-5.col-md-5.col-lg-5.no-padding
                    input(type='button' value='Add dir').new_dir_btn
                br
                br
                h5 Enter name
                input(type='text', placeholder='Title').title
                br
                h5 Enter url
                input(type='text', placeholder='Url').url

                br
                br
                input(type='button' value='Cancel').cancel
                input(type='button' value='Del').del
                input(type='button' value='Edit').edit

        // Modal
        #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-body

        script(src='libs/jquery-3.1.1.min.js')
        script(src='libs/bootstrap/js/bootstrap.min.js')
        link(rel='stylesheet', href='libs/bootstrap/css/bootstrap.min.css')
        link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
        script(src='background.js ')
        link(rel='stylesheet', href='popup-style.css')
        link(rel='stylesheet', href='popup-style-one.css')

